<form [formGroup]="messageFormGroup" (ngSubmit)="onSubmit()">
  <div>
    <label for="content">Content:</label>
    <input type="text" id="content" formControlName="content"/>
  </div>
  <div>
    <label for="sender">Sender:</label>
    <input type="text" id="sender" formControlName="sender"/>
  </div>
  <button type="submit" [disabled]="messageFormGroup.invalid">Save</button>
</form>

<br/>

<pre>{{messageFormGroup.value | json}}</pre>

<br/>

<br/>

<button (click)="getMessages()">Get messages</button>

<table class="table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Content</th>
    <th>Sender</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let message of messages">
    <td>{{ message.id }}</td>
    <td>{{ message.content }}</td>
    <td>{{ message.sender }}</td>
  </tr>
  </tbody>
</table>
